quartz.scheduler.instanceName = AdoJobStoreScheduler
quartz.scheduler.instanceId = AUTO

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.PostgreSQLDelegate
quartz.jobStore.clustered = true
quartz.jobStore.dataSource = myDS

quartz.dataSource.myDS.provider = Npgsql
quartz.dataSource.myDS.connectionString = Host=localhost;Port=5432;Pooling=true;Database=Quartz;Username=postgres;Password=123456;

quartz.serializer.type = json
